/* .btn {
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 100px;
  transition: all 0.2s;
  background-color: #fff;
  color: #777;
  font-size: 1rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
} */
